.contentDiv {
  width: 100%;
}

.bgVideo {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgVideo > video {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.videoText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.videoTextSvg {
  height: 300px;
  fill: transparent;
  stroke-width: 5px;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-dasharray: 2700;
  stroke-dashoffset: 2700;
  animation: animate-text 3s linear forwards;
}
@keyframes animate-text {
  0% {
    stroke-dasharray: 2700;
    stroke-dashoffset: 2700;
    fill: transparent;
  }
  80% {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    fill: transparent;
  }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0.6);
  }
}
.layer1 {
  text-align: center;
  padding: 2% 30%;
}
.parallax1 {
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.layer2 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 2%;
  text-align: center;
}
.parallax2 {
  width: 100%;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.gif {
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 700;
  flex-direction: column;
  width: 20%;
  justify-content: center;
}
.gifSpan {
  color: white;
  width: 100%;
  padding: 5px;
  margin-bottom: 3%;
  background-color: rgb(109, 0, 0);
  border-radius: 100px;
  font-weight: 700;
}
.gifContent {
  width: 100%;

  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.degreeSpan {
  width: 50%;
  height: 10px;
  border-radius: 1000px;
  background-color: rgb(57, 0, 0);
  border: 5px solid rgb(57, 0, 0);
  overflow: hidden;
}


.dildegrees {
  width: 100%;
 
}

.photoshopDegree{
  width: 90%;
}
.illustratorDegree{
  width: 90%;
}
.afterDegree{
  width: 90%;
}
.premiereDegree{
  width: 90%;
}
.microsoftDegree{
  width: 80%;
}
.webDegree{
  width: 60%;
}
.portfolioDegree{
  width: 90%;
}
.designDegree{
  width: 80%;
}
.turkceDegree {
  width: 90%;
}
.ingilizceDegree {
  width: 50%;
}
.ruscaDegree {
  width: 20%;

}
.degreeSpanInside {
  transform:translateX(-200%);
  height: 100%;
  border-radius: 1000px;
  background-color: rgb(255, 255, 255);

}

.degrees {
  width: 200%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  
}
.innerDegrees {
  width:100%;

  margin-right: 5%;

}

@media screen and (max-width: 480px) {
  .contentDiv {
    width: 100vw;
  }
  .bgVideo {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .videoTextSvg {
    height: 150px;
    fill: transparent;
    stroke-width: 5px;
    stroke: rgba(255, 255, 255, 0.3);
    stroke-dasharray: 2700;
    stroke-dashoffset: 2700;
    animation: animate-text 3s linear forwards;
  }
  .layer1 {
    text-align: center;
    padding: 5% 10%;
  }
  .layer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    text-align: center;
    flex-direction: column;
  }
  .gif {
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
  }
  .degrees {
    width: 90vw;
    columns: 1;
    display: block;
  }
  .dildegrees {
    width: 90vw;
  }

}
