@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{  max-width: 100vw;
    padding: 0;
    margin: 0;
 
}
*::-webkit-scrollbar{ 

        display: none;
 
}

::selection {
    color: rgb(255, 255, 255);
    background: rgb(109, 0, 0);
}

Link{
    text-decoration: none;
  }